.mbtablestyle {
        border-collapse: collapse;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;

   > table, td, th {
        border: 1px solid black;
        }
}