.row {
    display: flex;
}
.button {
    /* On index.md and download.md */
    background-color: #ECECEC;
    border: solid 2px #99AAB5;
    padding: 1em;
    border-radius: 2px;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 12pt;
    color: #000;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 1%;
}
.button:hover {
    background-color: #FFFFFF;
}
.button svg, .button img {
    height: 40%;
    width: 60%;
}
.button_main {
    /* On index.md */
    width: 40%;
    height: 10%;
    margin: auto;
    border-radius: 15px;
    font-size: 1.3em;
    font-weight: 800;
    font-family: arial;
}
.button_text {
    margin: 0px;
    margin-top: 1em;
}
.button:hover .button_text {
    color: #404040;
}